* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d0d0d;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1a1a1a;
    padding: 20px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.logo img {
    height: 50px;
    width: auto;
}

.navigation {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.navigation a .icon {
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(55%) sepia(89%) saturate(2597%) hue-rotate(0deg) brightness(102%) contrast(106%);
    /* ici c'est pour rendre les icons la blanche */
}

.navigation a:hover {
    background-color: #ff6f00;
    color: #ffffff;
}

.navigation a:hover .icon {
    filter: brightness(0) saturate(100%) invert(100%);
    /*cette partie la rends l'icon blanch lorsque je mets le curseur sur sur l'un des elements de la barre de navigation */
}
.barecherche {
    display: flex;
    gap: 10px;
    align-items: center;
}

.barecherche input {
    padding: 12px 20px;
    width: 300px;
    background-color: #2a2a2a;
    border: 2px solid #333333;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
    outline: none;
    transition: border 0.3s ease;
}

.barecherche input::placeholder {
    color: #b0b0b0;
}

.barecherche input:focus {
    border-color: #ff6f00;
}

.barecherche button {
    padding: 12px 25px;
    background-color: #ff6f00;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.barecherche button:hover {
    background-color: #e66300;
}
.bouton-section {
    padding: 30px 0;
    background-color: #0d0d0d;
}

.filtres {
    display: flex;
    gap: 25px;
    align-items: center;
}

.filtre-btn {
    padding: 15px 35px;
    background-color: #2a2a2a;
    color: #b0b0b0;
    border: 1px solid #333333;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 1000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filtre-btn:hover {
    background-color: #333333;
    color: #ffffff;
}

.filtre-btn.active {
    background-color: #2a2a2a;
    color: #ffffff;
    border: 2px solid #ff6f00;
}

.filtre-btn.active:hover {
    background-color: #ff6f00;
}
